
{{> head }}
{{> navbar }}
{{> body }}


<div class="rows">
  <div class="col-8">
    <h1></h1>
  </div>

  <div class="col-4">
    <img src="assets/img/Proactivo.jpg" alt="" class="img-thumbnail">
  </div>
</div>



{{> footer}}

